@using Microsoft.AspNetCore.Identity
@using IssueTracker_CoreServices.Models;
@inject SignInManager<IssueTrackerUser> SignInManager
@inject UserManager<IssueTrackerUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (SignInManager.IsSignedIn(User))
    {
        await Html.RenderPartialAsync("Partials/HomeIndexLoggedInPartial", null, new ViewDataDictionary(ViewData) );
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p>Login to see your projects and assigned issues</p>
    }
</div>
