@using Microsoft.AspNetCore.Identity
@using IssueTracker_CoreServices.Models;
@inject SignInManager<IssueTrackerUser> SignInManager
@inject UserManager<IssueTrackerUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

@if (SignInManager.IsSignedIn(User))
{
    IssueTrackerUser trackerUser = (IssueTrackerUser)await UserManager.GetUserAsync(User);
    <h1 class="display-4">Dashboard</h1>
    <hr/>
    <h2 class="display-6">Open Issues</h2>
    <hr/>
    <h2 class="display-6">Assigned Projects</h2>
}
else
{
    <h1 class="display-4">Welcome</h1>
    <p>Login to see your projects and assigned issues</p>
}
</div>
